node_modules/
.next/
.turbo/
dist/
build/
coverage/
/.env
.env.local
.env.*.local
npm-debug.log*
pnpm-lock.yaml
yarn.lock
package-lock.json
/.DS_Store
*.log
*.sqlite
/.vscode/
/.idea/
/.cache/
/.pnp.*
/.parcel-cache/
/.sass-cache/
/.history/
.eslintcache
/.next/cache.next
node_modules
.env
.env.local
.vercel
.data
npm-debug.log*

.vercel
